footer{
    width: 100%;
    padding-top: 10px;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.social-icons img{
    margin: 0 15px;
    cursor: pointer;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding-top: 10px;
}