@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}
.body{
    background-color: #fff;
    margin: 30px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    position: relative;
}
.image{
    margin-top: 20px;
}
.my_image{
    cursor: pointer;
    border-radius: 50%;
    width: 150px;
}
h3{
    margin-top: 20px;
    text-align: center;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-top: 30px; 
    width: 100%;
}
.twitter-btn{
    background-color: #F4F5F7;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 22px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
button{
    border: none;
    color: #101828;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
}
.links{
    padding: 22px;
    width: 100%;
    background-color: #F4F5F7;
    text-align: center;
    border: none;
    margin: 20px 0 0;
    border-radius: 5px;
    cursor: pointer;
    /* transition: box-shadow 0.3s ease-in-out; */
}
.links:hover, .twitter-btn:hover{
    /* transition: box-shadow 0.3s ease-in-out; */
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
a{
    text-decoration: none;
    color: #101828;
}
.slack{
    display: none;

}
.icon{
    background-image: url(../images/back.png);
    padding: 15px;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    right: -1px;
    top: 0px;
}
.icon:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
footer{
    width: 100%;
    padding-top: 10px;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.social-icons img{
    margin: 0 15px;
    cursor: pointer;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    /* margin-top: 2rem; */
    padding-top: 40px;
}
@media screen and (max-width: 760px){
    .icon{
        background-image: url(../images/menu.png);
        padding: 20px;
        right: -1px;
    }
    .social-icons{
        margin: 20px 0;
    }
    .logos{
       flex-direction: column;

    }
    .logos div{
        padding: 20px;

    }
}